NODE_ENV="development"
APP_URL="http://localhost:7007"
PORT=7007
JWT_SECRET_KEY="APISystem"
JWT_EXPIRES_IN="3h"

#mysql, mssql etc.
DB_TYPE="mssql"
DB_HOST="192.168.1.1"
DB_USER="sa"
DB_PASS="1234"
DB_NAME="test"

ADD_LOG=true
ADD_LOG_LEVEL="error"
ALERT_SHOW_ERROR=true

